			
			.img {
				height: 300px;
				windth: 250px;
				text-align: center;
			}
			#thirdDiv {
				height: 600px;
				windth: 500px;
				background-color: yellow;
				padding: 50px;
				border: 5px;
				text-align: center;
				position: absolute;
				top: 190px;
				left: 50px;

			}

			#spanId {
			font-size: 18px;
			margin: 50px;
			position: flex;
			text-align: center;
			background-color: grey;
			z-index: 999;
			}
			ul {
				font-size: 35px;
			}

			body {
				background-color: #ffdd90;
				background-image: url("fondo.jfif");
			}
			.letra {
				background-color: grey;
				text-align: center;
			}

			.divClass {
				text-align: center;
			}

			#titulo {
				display: flex;
				align-items: center;
				justify-content: space-around;
				background-color: grey;

			}